<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "このチャットを削除する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %> 
</div>

<%= form_with model: [@room, @message], class: 'form-me', local: true do |f| %>
  <div class="form-input-me">
    <%= f.text_field :content, class: 'form-message-me', placeholder: 'type a message' %>
    <label class="form-image-me">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit-me' %>
<% end %>