<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      
      <li><%= link_to image_tag("clg.png", class:"furima-icon"), "/" %></li>
      
    </ul>
    <ul class='lists-right'>
      <li><%= link_to '写真を投稿する', new_prototype_path, class: "category-list" %></li>
      <li><%= link_to 'トップページに戻る', mains_index_path, class: "brand-list" %></li> 

    </ul>
  </div>
</header>
<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
    <div class="greeting">
      こんにちは、
      <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :greeting__link %>
    </div>
    <%# // ログインしているときは上記を表示する %>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'prototype', collection: @prototype %> 
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
