<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to image_tag("clg.png", class:"furima-icon"), "/" %></li>
      
    </ul>
    <ul class='lists-right'>
      <li><%= link_to 'トップページに戻る', mains_index_path, class: "brand-list" %></li> 

    </ul>
  </div>
</header>
<div class="main2">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <img src=<%= @user.image %> class = "icon_image">
      <table class="table2">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">趣味</th>
            <td class="table__col2"><%= simple_format(@user.hobby) %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= simple_format(@user.profile) %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿一覧"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: 'prototypes/prototype', collection: @prototype %> 
      </div>
    </div>
  </div>
</div>