<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    SNSをもっと身近に
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer1'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>connectについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>connectを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ページ一覧</h2>
      <ul>
        <li><%= link_to '商品を購入する', items_path, class: "footer-link" %></li>
        <li><%= link_to 'チャットを利用する', rooms_path, class: "footer-link" %></li>
        <li><%= link_to '投稿を利用する', prototypes_path, class: "footer-link" %></li>
        <li><%= link_to '登録情報を変更する', edit_user_registration_path, class: "footer-link" %></li>
        
      </ul>
    </div>
  </div>
  <%= link_to image_tag("clw.png", class:"logo-white"), "#" %>
  <p>© connect</p>
</div>