<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      <%= image_tag "clw.png", class:"list-pict-ori" %>
    </h2>
    <p class='service-explain'>
      -SNSをもっと身近に-
    </p>
    <%# <div class='store-btn'> %>
      <%#= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%#= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
      
    <%# </div> %>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>
  <div class='select-reason-contents-ori'>
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("ope1.png", class:"list-pict"), calls_path %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'></span>
          オペレーターに電話する
        </h3>
      </li>
      <li class='list'>
        <%= link_to image_tag("tokou.png", class:"list-pict"), prototypes_path %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'></span>
          写真を投稿する
        </h3>
      </li>
      <li class='list'>
        <%= link_to image_tag("chat1.png", class:"list-pict"), rooms_path %>
        <h3 class='reason-list-text'>
          チャットをする
          <span class='reason-list-blue-text'></span>
        </h3>
      </li>
      <li class='list'>
        <%= link_to image_tag("hon.png", class:"list-pict"), items_path %>
        <h3 class='reason-list-text'>
          教科書を購入する
          <span class='reason-list-blue-text'></span>
        </h3>
        
      </li>
      <li class='list'>
        <%= link_to image_tag("hito.png", class:"list-pict"), current_user %>
        <h3 class='reason-list-text'>
          プロフィールを確認する
          <span class='reason-list-blue-text'></span>
        </h3>
      </li>
      <li class='list'>
        <%= link_to image_tag("hitohen.png", class:"list-pict"), edit_user_registration_path %>
        <h3 class='reason-list-text'>
          プロフィールを編集する
          <span class='reason-list-blue-text'></span>
        </h3>
      </li>
    </ul>
  </div>
  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents-ori'>
    <h2 class='title-ori1'>
      アクティブシニアとSNSを繋げたい
    </h2>
    <h2 class='title-ori2'>
      connectは「始めやすい、わかりやすい」を理念としたSNS学習サービスアプリです
    </h2>
    <h2 class='title-ori2'>
      弊社サービスを通して、SNSの基本を学ぶことで
    </h2>
    <h2 class='title-ori2'>
      より一層充実したセカンドライフを過ごして頂けることを願っております
  </div>
  
  <div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    SNSをもっと身近に
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
  
</div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
 
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='select-reason-contents-ori2'>
    <h2 class='title-ori1'>
      主な3つの特徴
    </h2>
    <h2 class='title-ori6'>
      <%= image_tag "toku1.png", class:"ad-footer-contents-ori2" %>
    </h2>
    <h2 class='title-ori6'>
      <%= image_tag "toku2.png", class:"ad-footer-contents-ori2" %>
    </h2>
    <h2 class='title-ori6'>
      <%= image_tag "toku3.png", class:"ad-footer-contents-ori2" %>
    </h2>
  </div>

  <%# /FURIMAの特徴 %>


</div>
<%#= link_to('items/new', class: 'purchase-btn') do %>
  <%# <span class='purchase-btn-text'>出品する</span> %>
  <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<%# <% end %>
<%#= render "shared/footer" %>
<div class='footer1'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>connectについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>connectを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ページ一覧</h2>
      <ul>
        <li><%= link_to '商品を購入する', items_path, class: "footer-link" %></li>
        <li><%= link_to 'チャットを利用する', rooms_path, class: "footer-link" %></li>
        <li><%= link_to '投稿を利用する', prototypes_path, class: "footer-link" %></li>
        <li><%= link_to '登録情報を変更する', edit_user_registration_path, class: "footer-link" %></li>
        
      </ul>
    </div>
  </div>
  <%= link_to image_tag("clw.png", class:"logo-white"), "#" %>
  <p>© connect</p>
</div>