<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      
      <li><%= link_to image_tag("clg.png", class:"furima-icon"), "/" %></li>
      
    </ul>
    <ul class='lists-right'>
      <li><%= link_to 'トップページに戻る', mains_index_path, class: "brand-list" %></li> 
    </ul>
  </div>

</header>
 
<div class='main'>
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>教科書を購入する</h2>
    <%#= link_to 'トップページへ戻る', root_path, class: "subtitle" %>
    <% if user_signed_in? %>
      <% if current_user.id == 1%>
        <%= link_to '商品を追加する', new_item_path, class: "subtitle2" %>
      <% end %>
    <% end %>
    <ul class='item-lists'>
    <% if @items.present? %>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.title %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br><%= item.shipping_fee_burden.name %></span>
              <div class='star-btn'>
                
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>

<%= render "shared/footer" %>